
<p>
  <%= comment.id%>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Comment: </strong>
  <%# <h1> this is body </h1> %>

  <%= comment.body %>
  <p> Like this comment? star it </p>
  <%= render partial:'stars/star', locals: {starable: comment} %>
</p>

<ul>
<li><%= link_to "edit article comment",  edit_article_comment_path(comment.id) %></li>
<%# <li> </li> %>
</ul>

