<h1>Hello, Rails!</h1>

<ul>
  <% @articles.each do |article|%>
  <li>
    <%= link_to article.title, article %>
    <%# <%= link_to "Destroy", article_path(article), method: :delete, data: { confirm: "Are you sure?" } %>
  </li>
  <% end %>


<p> Each numbered article has this many comments <%= @t3 %> </p>


<h3> Stars </h3>
<% @articles.each do |article|%>
  <%= link_to article.stars, article %>
<% end%>

</ul>


<%= link_to "New Article", new_article_path %>
