<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<% @article.title  %>
<%# <% @article.save%>
<%# <h1><%= @article.title_was? %>


<ul>
  <li><%= link_to "Edit", edit_article_path(@article.id) %></li>
  <li><%= link_to "Destroy", article_path(@article), method: :delete, class: 'btn btn-primary', data: { confirm: 'Deseja confirmar a exclusão do post?' }  %></li>
  <li><%= link_to "Archive", archive_article_path(@article.id) %></li>
  <%# <li>  </li> %>
</ul>

<%= render 'likes/form', locals: {article: @article, user_id: current_user} %>

<%# <% end %>
<h2>Comments</h2>
<%= render @article.comments %>

<h3> Stars </h3>



<%= @article.stars.count%>
<% star = @article.stars.find_by(starable: @article) %>
<% if star.nil? %>
      <form action =" <%=  stars_path(@article) %> " method="post">
          <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
          <input type="hidden" name="star[starable_id]" value="<%= @article.id %>">
          <input type="hidden" name="star[starable_type]" value="<%= "Article" %>">
          <input type="submit" value="star">
      </form>

<% else %>
      <form action ="<%= star_path(star) %>" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
          <input type="hidden" name="_method" value="DELETE" >

          <input type="submit" value="star">
      </form>




<h2>Add a comment:</h2>
<%= render 'comments/form' %>


<%end%>
<%# <% end %>
<%#  Go home  %>
<%# <%= link_to "Home", article_path(@all) %>



