<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<% @article.title  %>
<%# <% @article.save%>
<%# <h1><%= @article.title_was? %></h1> %>


<ul>
  <li><%= link_to "Edit", edit_article_path(@article.id) %></li>
  <li><%= link_to "Destroy", article_path(@article), method: :delete, class: 'btn btn-primary', data: { confirm: 'Deseja confirmar a exclusão do post?' }  %></li>
  <li><%= link_to "Archive", archive_article_path(@article.id) %></li>
  <%# <li>  </li> %>
</ul>

<%= render 'likes/form', locals: {article: @article, user_id: current_user} %>

<%# <% end %>
<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>



<%# <% end %>
<%#  Go home  %>
<%# <%= link_to "Home", article_path(@all) %>



