

<h2> Hi in star partial form  </h2>


<h2> <%= starable %> </h2>

<h2> <%= Star.new %> </h2>

<%# [ @article, @article.comments.build ] %>






<%# <% end %>
<%# <%= form_with model: @article do |f| %> %>
<%= form_with do |f| %>
  <div class="form-group">
    <%= f.hidden_field :starable%>

    <%# <%= f.hidden_field :current_user.id%> %>
  </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>




