<%# <h2>Add a comment:</h2> %>


<%# <li> <%= render 'comments/form' %>
  <% like = current_user.likes.find_by(article: @article) %>
      <% if like.nil? %>
      <form action =" <%= article_likes_path(@article) %> " method="post">
          <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
          <input type="hidden" name="like[art_id]" value="<%= @article.id %>">
          <input type="submit" value="Like">
      </form>

      <% else %>
      <form action ="<%= article_like_path(@article) %>" method="DELETE">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
          <input type="hidden" name="_method" value="<%= @article.id %>">
          <input type="submit" value="UNLike To fixx">
      </form>





<% end %>
<%# <%= render 'comments/form' %>
