<%= form_with model:@invoices do |form| %>
  <p>
    <%= form.label :username %><br>
    <%= form.text_field :username %>
  </p>
  <p>
    <%= form.label :amount %><br>
    <%= form.text_area :amount %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
