<%# <h1> hello </h1> %>

<h1>Payments in invoice Table </h1>

  <%# <%= link_to "invoice.id: ".concat(invoice.id.to_s),   payment_invoice_path(invoice)  %>
    <%= link_to "Create new invoice", new_payment_invoice_path %>

    <%# <li></li> %>


    <table class="table">
  <thead>
    <tr>

      <th scope="col">ID</th>
      <th scope="col">Username</th>
      <th scope="col">amount</th>
      <th scope="col">edit</th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice|%>
    <tr>
       <td> <%= invoice.id %> </td>
       <td> <%= invoice.username %> </td>
       <td> <%= invoice.amount %> </td>
       <td> <%= link_to "edit invoice",  payment_invoice_path(invoice), method: :patch %> </td>
    </tr>
    <% end %>
  </tbody>
</table>



